@import 'global';
@import 'carousel';

// TV Shows Start
.tvShows{
  margin:50px auto;
  img{
    opacity:0;
    &.slideInUp{
      opacity:1;
    }
  }
  h2{
    font-size:1.875em;
    font-weight:bolder;
  }
  h3{
    font-size:1.750em;
    letter-spacing: 2px;
  }
  p{
    font-size:0.750em;
    text-transform:uppercase;
  }
}
// TV Shows End

//Channels 200 Start
.channels200{
  background:lighten($grey, 72%);
  .container{
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    padding-bottom:20px;
  }
  h3{
    font-size:0.750em;
    line-height:1.5;
  }
  .btn-orange{
    @extend .btn-orange;
    position: absolute;
    top: 60px;
    z-index: 5;
  }
}
//Channels 200 End


// Packages Start
.packages{
  .row{
    overflow:hidden;
  }
  .packagesImg{
    opacity:0;
  }
  .container{
    margin-top: 50px;
    margin-bottom: -150px;
  }
}
// Packages End

// Films20 Start
.films20{
  .container{
    position: relative;
    bottom:-70px;
  }
}
// Films20 End

// Traditions Start
.traditions{
  position: relative;
  top:-150px;
  margin-bottom:-150px;
  p{
    line-height:2;
  }
}
// Traditions End

// Cinemas Start
.cinemas{
  position: relative;
  margin-bottom: -200px;
  .container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left:auto;
    margin-right: auto;
  }
  .btn-orange{
    @extend .btn-orange;
    position: absolute;
    bottom:250px;
    right:0;
  }
}
// Cinemas End

// Movies List Start
.movies-list{
  .container{
    margin-bottom:50px;
  }
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5 {
    padding-right: 0;
    padding-left: 0;
  }
  .movies-box{
    margin:0 15px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius:3px;
    img{
      width:100%;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
    .movies-info{
      padding-left:15px;
      h5{
        font-size:0.500em;
        letter-spacing:2px;
      }
      h6{
        font-size:0.813em;
      }
      p{
        font-size:0.563em;
        margin:0;
      }
      b{
        font-size:0.534em;
      }
    }
  }
}
// Movies List End

// Sports Begin
.sports{
  background:url(img/sports.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height:800px;
  width:100%;
  color:white;
  .container{
    padding-top:100px;
  }
  h2{
    font-size:2.563em;
  }
  h3{
    font-size:1.438em;
    line-height:2;
  }
}
// Sports End

// Homepage Responsive
@media screen and (max-width:768px){
  .channels200 .btn-orange {
    top: -25px;
  }
  .packages .container {
    margin-top: 50px;
    margin-bottom:0;
  }
  .col-md-5in1 {
    width: 20%;
    float: left;
  }
  .cinemas {
    margin-bottom: 0;
  }
}
@media screen and (max-width:440px){
  .channels200 {
    .btn-orange{
      top: -40px;
      left: 65px;
    }
  }
  .traditions {
    position: relative;
    top:0;
    margin-bottom:0;
  }
  .films20 .container {
     bottom: 0;
  }
  .cinemas .btn-orange {
    position: absolute;
    bottom: 170px;
    right: 80px;
  }
  .cinemas .container {
    position: relative;
  }
  .col-md-5in1 {
    width: 100%;
    float: left;
  }
}
