@import 'global';

// options text
.options-text {
  color: $white;
  text-align: center;
  padding: 20px 0;
  @include gradient($ironblue);
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.813em;
  }
}

// options text ends

//Boxes
.boxes {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  .box {
    @include transition(170ms);
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 21px lighten($black, 90%);
    text-align: center;
    img.img-responsive {
      display: inline-block;
    }
    h2 {
      margin: 10px 0 15px 0;
      font-size: 0.938em;
      font-weight: 700;
    }

    &:hover {
      box-shadow: 0 8px 20px lighten($black, 80%);
      top: -5px;
    }
    &.active {
      box-shadow: 0 5px 10px $calciumred;
      top: -5px;
      @include gradient-vertical($white);
    }
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      content: ' ';
      width: 90%;
      margin: 0 auto;
      height: 2px;
      background: $lightBlue;
    }
  }
  .col-md-5in1:nth-child(1) .box:after {
    background: $lightBlue;
  }
  .col-md-5in1:nth-child(2) .box:after {
    background: $calciumred;
  }
  .col-md-5in1:nth-child(3) .box:after {
    background: $green;
  }
  .col-md-5in1:nth-child(4) .box:after {
    background: $poopyellow;
  }
  .col-md-5in1:nth-child(5) .box:after {
    background: $red;
  }
}

// Option-Block
.option-block {
  .option-roof {
    font-weight: 700;
    position: relative;
    margin: 0;
    padding-top: 15px;
    font-size: 1.2em;
    line-height: 30px;
    color: white;
    background: transparent;
    text-align: center;
    z-index: 2;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      top: 30px;
      z-index: -1;
      height: 100%;
      width: 100%;
      border-top: 1px solid $lightBlue;
      border-right: 1px solid $lightBlue;
      border-left: 1px solid $lightBlue;
    }
    &:before {
      background: $lightBlue;
      border-radius: 30px;
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 15px;
      bottom: 0;
      z-index: -1;
    }
  }
  .block-pcMac {
    h2 {
      color: $lightBlue;
      padding-bottom: 20px;
      border-bottom: 1px solid lighten($black, 90%);
    }
    h3 {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        padding-right: 20px;
      }
      small {
        font-size: 50%;
        margin: 0 20px;
        width: 50%;
        display: inline-block;
        text-align: left;
      }
    }
    p {
      max-width: 670px;
      margin: 20px auto;
      line-height: 1.7;
    }
    ul {
      list-style-image: url(img/tick.png);
    }
    .twinbuttons {
      margin: 50px 0;
      a {
        margin: 0 30px;
      }
      :after {
        content: ' ';
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -30px;
        left: 0;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(left, #ffffff 0%, #9a9a9a 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffffff 0%, #9a9a9a 50%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffffff 0%, #9a9a9a 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
      }
    }

    .vod-options {
      li {
        margin: 30px 0;
      }
    }

    .radio-option {
      padding: 10px 0;
      background: $lightGrey url(img/options/radiobg.jpg) no-repeat right;
      margin: 30px 0;
    }
    .option-settings {
      ul {
        overflow: auto; /* similar  to clearing the floats... */
        list-style: circle;
        li {
          margin: 0 20px;
          padding: 0;
          display: inline-block;
          position: relative;
          &:before {
            content: '\25cf\a0';
            color: $lightBlue;
          }
        }

      }
    }

  }
  // PCMAC Block Ends

  //SmartPhone block Starts
  .block-smartPhone {
    h2 {
      display: inline-block;
      margin-left: 20px;
    }
    .tab-content {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding: 35px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    /*smart_app Start*/
    .smart_app {
      .twinbuttons {
        margin: 50px 0;
        a {
          margin: 0 30px;
        }
      }
      .header_smart {
        border-bottom: 1px solid #e6e6e6;
      }
      h2 {
        color: #54bce3;
        padding-bottom: 20px;
      }
      p {
        max-width: 730px;
        margin: 40px auto 70px auto;
      }
      li {
        list-style-image: url("img/tick.png");
      }
    }
    .activized_app {
      max-width: 365px;
    }

    .wrapTextHeader {
      max-width: 900px;
      margin: 50px auto;
      text-align: left;
      p {
        overflow: hidden;
      }
      img {
        margin-right: 20px;
      }
    }
    .option-roof {
      margin-bottom: 30px;
    }
    /*option-roof Ends*/
    .search-tablet {
      margin: 100px auto;
      p {
        margin: 0 auto 60px auto;
        max-width: 507px;
      }
    }
    .tick_vod {
      max-width: 605px;
      margin: 80px auto;
      text-align: left;
      li {
        list-style-image: url("img/tick.png");
        margin-top: 45px;
      }
    }
    .instal_app {
      margin-bottom: 40px;
    }

    // block-smartPhone ENDS
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color:#00aef0;
  }
}

// Option-Block Ends

@media screen and (max-width: 440px) {

  .option-block {
    .block-pcMac {
      .twinbuttons a {
        margin: 30px;
      }
      .option-settings ul li {
        margin: 0 20px;
        padding: 0;
        display: block;
        position: relative;
        text-align: left;
      }
    }
    .block-smartPhone {
      .container{
        padding:0;
      }
      .nav {
        margin: 0 -15px 0 -15px;
        .nav-tabs {
          padding: 0 15px;
          margin: 0;
        }
      }
      .smart_app {
        .twinbuttons {
          margin: 20px 0;
          a {
            margin: 10px 0;
          }
        }
      }
      .search-page{
        margin: 20px auto;
      }
      .search-tablet{
        margin:10px auto;
      }
      .move-tablet{
        margin-top: 20px;
        text-align: center;
      }
      .tick_vod{
        margin: 20px auto;
      }
    }
  }

  .row-flexy {
    flex-direction: column;
  }
  .col-md-5in1 {
    padding: 0;
  }
}