@import 'global';
@import 'carousel';

.margin_top {
  margin-top: 40px;
}

.number_1 {
  max-width: 726px;
  border-bottom: 1px solid darken($lightGrey, 10%);
  margin-top: 100px;
  padding-bottom: 40px;
  h2 {
    font-size: 2.500em;
    strong {
      font-weight: bold;
      color: darken($ironblue, 20%);
    }
  }
  .margin_txt {
    margin-top: 40px;
  }
  p {
    font-size: 0.750em;
  }
}

.sc-container {
  justify-content: center;
  align-items: baseline;
}

.column-3 {
  position: relative;
  float: left;
  width: calc(33.333% - 60px);
  padding: 15px;
  margin: 0 15px;
}

.plans {
  opacity: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.15);
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &.plan1 {
    background: lighten($lightBlue, 35%);
    @include plan_colors($ironblue);
  }
  &.plan2 {
    background: lighten($calciumred, 38%);
    @include plan_colors($calciumred);
  }
  &.plan3 {
    background: lighten($poopyellow, 45%);
    @include plan_colors($poopyellow);
  }
  &.plan1, &.plan2, &.plan3 {
    h1 {
      font-size: 1.429em;
      color: rgba(0, 0, 0, .6);
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
    }
    h2 {
      i {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
      small {
        color: white;
      }
      line-height: 1;
    }
    .channels {
      padding: 0 0 20px 0;
      position: relative;
      margin-top: 40px;
      &:after {
        content: '\f0fe';
        font-family: 'FontAwesome', sans-serif;
        font-size: 1.714em;
        position: absolute;
        bottom: -17px;
        color: white;
        left: 20px;
      }
      ul {
        margin: 0 auto;
      }
      li {
        color: white;
        line-height: 2;
        text-align: left;
        text-indent: 10%;
      }
      .pricing {
        color: white;
        display: inline-block;
        padding: 10px 30px;
        position: relative;
        top: -30px;
        margin-bottom: -15px;
        border-radius: 5px;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
        h2 {
          font-size: 1.571em;
          margin: 0;
          color: white;
          small {
            font-size: 0.545em;
            text-align: center;
            width: 100%;
            float: left;
            margin: 0;
          }
        }
      }
    }
    .extras {
      padding: 20px 0;
      color: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .select-btn {
      font-weight: 500;
      color: white;
      padding: 7px 15px;
      border-radius: 5px;
      text-decoration: none;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -20px;
      max-width: 130px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 0 0 rgba(255, 255, 255, 0.3);
      @include transition(300ms ease-in);
    }
  }
  .package {
    margin: 25px;
  }
}

/*Packages Starts*/

.dashed-borders {
  margin-bottom: 40px;
  padding: 40px 0 40px 40px;
  background-image: linear-gradient(to right, lighten($grey, 30%) 35%, transparent 35%), linear-gradient(to right, lighten($grey, 30%) 35%, transparent 35%), linear-gradient(to bottom, lighten($grey, 30%) 35%, transparent 35%), linear-gradient(to bottom, lighten($grey, 30%) 35%, transparent 35%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  border-image-repeat: repeat;
  display: flex;
  align-items: center;
  flex-direction: row;
  .bonus {
    text-align: center;
    .bonus_inner {
      margin: 0 auto;
      max-width: 50%;
      text-align: left;
      color: #104a75;
      ul {
        margin: 0;
        padding: 0;
        li {
          color: #104a75;
          font-size: 1.250em;
          list-style-type: none;
        }
      }
      strong {
        font-size: 2.500em;
      }
      .btn-orange {
        margin-top: 40px;
      }
    }
  }
}

.little_logo {
  margin: 30px 0;
}

.border_right {
  border-right: 1px solid lighten($grey, 30%);
  li {
    list-style-image: url(img/tick.png);
    margin: 10px 0;
  }
  h2 {
    color: lighten($grey, 30%);
    strong {
      font-weight: 700;
      color: #0562ad;
      text-transform: uppercase;
    }
    small {
      font-size: 1.125em;
      color: #0562ad;
      font-weight: 700;
    }
  }
}

/*Packages Ends*/

/*platform Starts*/

.platforms{
  font-size:1.125em;
  text-align: center;
  border-bottom:1px solid lighten($grey, 50%);
  margin-bottom:30px;
  h3{
    font-size:inherit;

  }
  p{
    margin:30px 0 45px 0;
    display: inline-block;
    img{
      margin-right:5px;
    }
  }
}


/*platform Ends*/

/*video on demand Starts*/
.vod {
  border-top: 1px solid lighten($grey, 50%);
  border-bottom: 1px solid lighten($grey, 50%);
  .vod-inner {
    padding: 78px 0 68px 0;
    .little_txt {
      h4 {
        font-size: 10px;
      }
      h3 {
        font-size: 40px;
        text-align: left;
        strong {
          font-weight: 300;
          color: lighten($calciumred, 15%);
          font-size: 40px;
        }
      }
    }

    .bottom_txt p {
      padding-top: 30px;
      max-width: 785px;
      margin: 0 auto;
    }
    .vod_header {
      display: flex;
      align-items: flex-end;
      max-width: 870px;
      margin: 0 auto 40px auto;
    }
  }
}

/*video on demand Ends*/

/*Catch up Start*/
.catch_bg {
  padding: 80px 0 70px 0;
  .margin_txt {
    margin-top: 40px;
  }
  h4 {
    font-size: 0.625em;
  }
  h3 {
    font-size: 2.500em;
    strong {
      font-weight: 300;
      color: darken($green, 10%);
      font-size: inherit;
      text-transform: uppercase;
    }
  }
  .bottom_txt p {
    padding-top: 30px;
    max-width: 785px;
    margin: 0 auto;
  }
  .catch_bg_inner{
    max-width: 815px;
    margin:0 auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
  }
}

/*Catch up Ends*/
/*red part Start*/
.bg_redgradient {
  background: rgb(220, 28, 87);
  background: -moz-linear-gradient(left, rgba(220, 28, 87, 1) 0%, rgba(235, 28, 39, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(220, 28, 87, 1) 0%, rgba(235, 28, 39, 1) 100%);
  background: linear-gradient(to right, rgba(220, 28, 87, 1) 0%, rgba(235, 28, 39, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc1c57', endColorstr='#eb1c27', GradientType=1);
  color: white;

  .channel {
    margin-top: 30px;
    margin-bottom: 73px;
    p {
      color: white;
      max-width: 549px;
      margin: 0 auto;
    }
    h3 {
      font-size: 1.875em;
    }
  }
}

.pic_channel {
  margin: -35px 0 0px 0;
}

/*red part Ends*/

/*200+ Starts*/
.channels-albanian {
  margin-top: 60px;
  h3 {
    color: $black;
    font-size: 40px;
  }
  strong {
    color: $red;
    font-weight: normal;
  }
  p {
    max-width: 582px;
    margin: 0 auto;
  }
}

.box {
  margin: 42px 0 70px 0;
}

/*200+ Ends*/
/*variant Starts*/
.variant {

  margin: 40px auto 70px auto;
  display: block;
  .variant_inner{
    max-width: 900px;
    margin: 0 auto;
  }
  h3 {
    font-size: 2.500em;
    strong {
      text-transform: uppercase;
      color: $lightBlue;

      font-weight: 300;
    }
  }

}

.variant_txt {
  max-width: 574px;
  margin: 60px auto 170px auto;
}



/*variant Ends*/

@media (max-width: 768px) {
  .column-3 {
    width: 30%;

    padding: 0;
    margin: 30px 1% 30px 1%;
  }
  .bg_platform {
    margin-top: 20px;
    background: url("img/packages/bg_platform_templ.png") no-repeat;
    background-position: 0 150px;
    height: 400px;
  }

  .catch_bg {
    padding: 20px 0 20px 0;
  }
  .plans .package {
    margin: 10px 0 25px 0;
  }
  .number_1 {
    margin-top: 0;
  }
  .bg_vod .vod-inner {
    padding: 0;
  }
  .dashed-borders .bonus .bonus_inner{
    max-width: 100%;
  }

  .vod .vod-inner .vod_header{
    display:inline-block;
  }
  .platforms p{
    margin:10px 0;
  }
  .vod .vod-inner{
    padding: 20px 0;
  }
  .variant{
    margin: 20px auto 20px auto;
  }
  .variant_txt{
    margin: 20px auto 20px auto;
  }
  .variant_img img{
    width:90%;
  }
  .catch_bg h3{
    margin-bottom: 20px;
  }
  .catch_bg .catch_bg_inner{
    display: inline-block;
  }
}

@media (max-width: 414px) {
  .column-3 {
    width: 100%;
  }
  .plans .package {
    margin: 25px;
  }
  .number_1 {
    margin-top: 0;
  }
  .bg_vod .vod-inner {
    padding: 0 0 10px 0;
  }

  .border_right{
    border-right:none;
    border-bottom: 1px solid grey;

  }
  .dashed-borders .bonus .bonus_inner{
    max-width: 100%;
  }
  .dashed-borders{
    padding: 20px;
    display: inline-block;
  }
  .vod .vod-inner .vod_header{
    display:inline-block;
  }
  .platforms p{
    margin:10px 0;
  }
  .vod .vod-inner{
    padding: 20px 0;
  }
  .variant{
    margin: 20px auto 20px auto;
  }
  .variant_txt{
       margin: 20px auto 20px auto;
     }
  .variant_img img{
    width:90%;
  }
  .catch_bg h3{
    margin-bottom: 20px;
  }
}